{% extends "base.html.twig" %}

{% block body %}

<h1>{{ program.title }}</h1>

<h2>Saison : {{ season.number }}</h2>

<h3>Liste des épisodes:</h3>
<ul>
    {% for episode in season.episodes %}

        <li>Episode {{ episode.number }} : {{ episode.title }}</li>    

    {% endfor %}

</ul>



{% endblock %}