<nav class="">
    <h3><a class="" href="{{ path('app_index')}}">Wild Séries</a></h3>
    <div class="list-menu">
      <ul class="">
        <li class="">
          <a class="" aria-current="page" href="{{ path('program_index')}}">Programmes</a>
        </li>
        <li class="">
          <a class="" aria-current="page" href="{{ path('category_index')}}">Catégories</a>
        </li>
      </ul>
    </div>
    <a class="" href="">Login</a>
</nav>