<nav class="">
  <div class="container-fluid">
    <a class="" href="{{ path('app_index')}}">Wild Séries</a>
    <div class="" id="">
      <ul class="">
        <li class="">
          <a class="" aria-current="page" href="{{ path('program_index')}}">Séries</a>
        </li>
        <li class="">
          <a class="" aria-current="page" href="{{ path('category_index')}}">Catégories</a>
        </li>
        <li class="">
          <a class="" href="">Acteurs</a>
        </li>
        <li class="">
          <a class="" href="">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>